@import "../../../../shared/styles";

.dayWeekContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 1px;
}

.dayWeek {
  font-size: 15px;
  color: $color-grey;
  width: 20px;
  text-align: center;
  cursor: default;
}
