@import "./src/shared/styles";

.eventDescriptionContainer {
  display: flex;
  position: absolute;
  padding: 10px;
  border: 2px solid $color-red;
  background: $color-background-dark;
  border-radius: 10px;
  z-index: 2;
  width: 320px;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  .title {
    font-size: 20px;
    font-weight: bold;
    color: $color-text2;
    text-transform: capitalize;
  }
  .subtitle {
    font-size: 15px;
    font-weight: bold;
    color: $color-text3;
    text-transform: capitalize;
    margin-left: 10px;
    margin-top: 5px;
  }
}
