@import "src/screens/MonthSingle/atoms/MonthSingleCell/styles";

.tableContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 3;
  .weekDaysContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .weekDayCell {
      @extend .cell;
      height: 40px;
      border: 0;
    }
    .weekDayCellLabel {
      @extend .cellDate;
      font-size: 18px;
    }
  }
}
