@import "../../../../shared/styles";

.monthYearDayWrapper {
  position: relative;
}

.day {
  @extend .monthDay;
}
.todayDay {
  @extend .monthDay;
  color: $color-text;
  z-index: 2;
  position: relative;
}
.disabled {
  @extend .monthDay;
  color: $color-disabled;
}
.weekend {
  @extend .monthDay;
  color: $color-disabled2;
}

.todayDayContainer {
  background: $color-red;
  height: 26px;
  width: 26px;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  top: 1px;
  overflow: hidden;
}
