@import "src/shared/styles";

.modal-container-div {
  .modal-overlay-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: $color-backdrop;
  }
  .modal-content-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    overflow: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
  }

  .modal-content-div:after {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    content: "";
  }

  .modal-dialog-div {
    position: relative;
    outline: 0;
    display: flex;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: default;
    justify-content: center;
  }
}
